body {
  background-image: url(background3.jpg);
  image
}

article {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  border: 1px solid black;
}
/*.Gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
  width: 10px;
  height: 10px;
}

.Hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.Ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.Slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}*/

nav {
  width: 170px;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}

/*menuen*/
.menu_item,
.sorter_item {
  padding: 0px 5px 5px 35px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  
}

#filtrer h3{
  margin-top: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
}

#sorter h3{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 5px;
}

/*Gem browserens automatiske checkbox*/
.menu_item input,
.sorter_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Style til selve checkboxen*/
.check {
  position: absolute;
  top: 0;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* ved hover skal der være en grå baggrund*/
.menu_item:hover input ~ .check,
.sorter_item:hover input ~ .check {
  background-color: gray;
}

/* Når der er checked af skal den skifte baggrund*/
.menu_item input:checked ~ .check,
.sorter_item input:checked ~ .check {
  background-color: lightblue;
}

/*Selve check mærket gemmes når der ikke er klikket*/
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Vis check mærket, når der er checket af*/
.menu_item input:checked ~ .check:after,
.sorter_item input:checked ~ .check:after {
  display: block;
}

.menu_item .check:after,
.sorter_item .check:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
