body {
  margin: 0;
  background-image: url(background3.jpg);
  background-position: cover;
  background-repeat: repeat;
  background-size: 100%;
}
h1 {
  font-family: "IM Fell English SC", serif;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}

nav {
  width: 78.1%;
  height: 350px;
  background-color: rgb(255, 235, 209);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-family: "IM Fell English SC", serif;
  margin-bottom: 20px;
  margin-left: 34px;
}

/*menuen*/
.menu_item {
  padding: 0px 5px 5px 35px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

#filtrer h3 {
  margin-top: 0px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
}

#sorter h3 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
}

/*Gem browserens automatiske checkbox*/
.menu_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Style til selve checkboxen*/
.check {
  position: absolute;
  top: 0;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: white;
}

/* ved hover skal der være en grå baggrund*/
.menu_item:hover input ~ .check,
.sorter_item:hover input ~ .check {
  background-color: gray;
}

/* Når der er checked af skal den skifte baggrund*/
.menu_item input:checked ~ .check,
.sorter_item input:checked ~ .check {
  background-color: lightblue;
}

/*Selve check mærket gemmes når der ikke er klikket*/
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Vis check mærket, når der er checket af*/
.menu_item input:checked ~ .check:after {
  display: block;
}

.menu_item .check:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sorter_item {
  padding: 0px 5px 5px 35px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.sorter_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: white;
}

.sorter_item:hover input ~ .checkmark {
  background-color: gray;
}

.sorter_item input:checked ~ .checkmark {
  background-color: lightblue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sorter_item input:checked ~ .checkmark:after {
  display: block;
}

.sorter_item .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.studerende {
  display: grid;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  grid-gap: 10px;
  grid-template-columns: 100%;
  width: 80%;
}

article {
  border: 2px solid black;
  height: 200px;
  text-align: center;
}

.navn {
  font-family: "IM Fell English SC", serif;
  font-size: 1.5em;
  padding: 10px;
  font-weight: 600;
}

.house {
  font-family: "IM Fell English SC", serif;
  font-size: 1.6em;
}

.bloodstatus {
  font-family: "IM Fell English SC", serif;
  font-size: 1.2em;
  padding: 10px;
}

.remove {
  width: 97%;
  height: 6vw;
  color: white;
  background-color: black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: "IM Fell English SC", serif;
  font-size: 0.9em;
  padding: 2px;
  cursor: pointer;
  text-align: center;
}

.remove:hover {
  color: black;
  background-color: white;
}

#modal {
  width: 600px;
  height: 400px;
  position: fixed;
  z-index: 19;

  text-align: center;
  display: none;
  transition: 1;

  pointer-events: none;
}

#modal-content {
  width: 250px;
  height: 400px;
  margin-left: 30px;
  margin-top: 100px;
  font-family: "IM Fell English SC", serif;
  font-size: 1.6em;
  border: 8px solid black;
}

#modal.vis {
  display: block;
  transition: 0.5s;
  pointer-events: all;
}

.no {
  width: 250px;
  height: 400px;
  position: fixed;
  z-index: 19;
  background-color: pink;
  text-align: center;
  display: none;
  transition: 1;
  pointer-events: none;
  font-family: "IM Fell English SC", serif;
  font-size: 1.6em;
  border: 8px solid black;
  margin-left: 30px;
  margin-top: 100px;
}

.no.show {
  display: block;
  transition: 0.5s;
  pointer-events: all;
}
.luk {
  margin-top: -32px;
}
button {
  background-color: white;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
  font-weight: 500;
  opacity: 1;
  border: none;
  float: right;
}

button:hover {
  background-color: antiquewhite;
  opacity: 2;
  transition: 1s;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
  width: 10px;
  height: 10px;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

@media screen and (min-width: 627px) {
  nav {
    width: 81%;
    margin-left: 65px;
  }
  .remove {
    /*width: 236px;*/
    width: 96.6%;
    font-size: 1.3em;
    padding-top: 8px;
  }

  .no {
    width: 430px;
    margin-left: 100px;
  }

  .luk {
    margin-top: -32px;
  }

  .navn {
    font-size: 1.8em;
  }

  .house {
    font-size: 1.7em;
  }

  #modal-content {
    width: 500px;
    margin-left: 52px;
  }

  .studerende {
    display: grid;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 160px;
  }
  main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 30px;
  }

  .studerende {
    width: 70%;
    grid-gap: 10px;
  }

  .remove {
    /* width: 203px;*/
    width: 96.3%;
    height: 30px;
  }

  .no {
    width: 550px;
    margin-left: 100px;
  }

  #modal-content {
    width: 550px;
    margin-left: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .studerende {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main {
    grid-template-columns: 10% 90%;
  }

  #modal-content {
    width: 800px;
    margin-left: 100px;
  }

  .no {
    width: 800px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .studerende {
    width: 80%;
    grid-gap: 20px;
  }
  main {
    grid-template-columns: 15% 85%;
  }

  nav {
    width: 200px;
  }

  .remove {
    /* width: 253px;*/
    width: 96.6%;
  }

  #modal-content {
    margin-left: 200px;
  }

  .no {
    margin-left: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .remove {
    width: 96.8%;
  }
  .studerende {
    width: 80%;
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1500px) {
  .remove {
    width: 97.7%;
  }

  nav {
    width: 250px;
  }

  main {
    grid-template-columns: 10% 90%;
    grid-gap: 70px;
  }

  #modal-content {
    margin-left: 400px;
  }

  .no {
    margin-left: 400px;
  }
}
